
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';


.container{
	min-width: auto!important;
}

.counter-btn{
  outline: none!important;
}

.green-btn{
  background: #7baf35!important;  
}

.popup.__login, .popup{
  max-width: 500px;
  width: 90%!important;
  padding: 0;
}

.a-pseudo-active {
    color: #ff680d;
    font-weight: bold;
}

.mb-30{
  margin-bottom: 35px;
}

.mt-35{
  margin-top: 35px;
}

section.frontInfo{
	background: #fff;
}

body.nav-is-toggled{
	overflow: hidden;
}

.overlay{
	z-index: 99999999999999999999!important;
}

.text-center{
	text-align: center;
}

.popup.__cart{
   top: 55px;
  }


.wrapper, .layout-wrap{
	min-width: auto!important;
}

/* ====== header ===========*/
.header__top{
	background: #252525;
    color: #fff;
}

.header-logo-img{
	width: 80px;
	margin-top: 5px;
}


.products-menu__title-link{
	padding-left: 35px;
	padding-right: 35px;
}

.products-menu__title-link:active{
	background: transparent;
}


/* ====== header ===========*/





/* ====== search ===========*/


#searchCatalog{
   flex-basis: 100%;
    max-width: 100%;
}

#searchCatalog .catalog-grid__item.searchItem{
  width: 24%;
}

.search-mobile form{
  display: flex;
  width: 100%;

}
/* ====== search ===========*/





/* ====== category ===========*/

.catalog-grid--sidebar .catalog-grid__item{
	width: 32%;
}
/* ====== category ===========*/


/* ====== main ===========*/
.frontInfo-text.__clip{
	max-height: 265px;
}

.frontInfo .frontInfo-col{
    max-width: 1000px;
    margin: 0 auto;
    float: none;
}

.frontInfo .frontInfo-col .h2{
	margin: 10px 0 25px 0;
}

.banner-border{
	border: none;
}
/* ====== main ===========*/





/* ====== product ===========*/

#changeRegion{
  background: #fff;
}
.btn-try-on-block{
  width: 100%;
}

.product-order__row{
  flex-wrap: wrap;
}

#product-try-on{
  top: 55px;
}

.try-on-body{
    margin-top: 35px;  
}



.tmGallery-thumb-a>*{
  max-width: 80px;
}


.productsSlider-container:before,
.productsSlider-container:after,
.recentProducts-container:before,
.recentProducts-container:after
{

  background: none;

}

.recentProducts{
  flex-wrap: wrap;
}
.recentProducts-head{
    float: none;
    flex: auto;
    width: 100%;
}

.recentProducts-body{
    float: none;
    flex: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: unset;
}

.recentProducts .carousel-btn--prev, .recentProducts .slideCarousel-nav-btn.__slideLeft{
  left: -19px;
}

.productsSlider-i,
.recentProducts-i{
  width: 20%;
    padding: 25px 10px;
    box-sizing: border-box;
}

.productsSlider-price,
.recentProducts-price{
  text-align: center;
  font-weight: bold;
}

.productsSlider-title,
.recentProducts-title{
  text-align: center;
}

.productsSlider-image,
.recentProducts-image {
    height: 280px;
    line-height: 280px;
}

.recentProducts{
  padding-left: 20px!important;
  padding-right: 20px!important;
}
.recentProducts .carousel-btn--next, .recentProducts .slideCarousel-nav-btn.__slideRight{
  right: -19px
}

.recentProducts-i:not(:last-child){
  margin-right: 0;
}

.product-heading{
  font-size: 20px;
}
/* ====== product ===========*/




/* ====== footer ===========*/

.footer__logo-img{
	width: 170px;
}

.footer__col--contacts .footer__contacts-group{
   margin-left: 25px;
 }


.ft-bottom{
	background: #252525;
    color: #fff;
    text-align: center;
    padding: 15px 25px;
    display: 100%;
}


.footer__copyright .shopName{
	font-size: 42px;
    line-height: 42px;
    width: 100%;
    display: inline-block;
}

.footer__copyright .shopTitle{
	font-size: 18px;
    width: 100%;
    display: inline-block;
    line-height: 30px;
}


.footer__mobile-menu{
    display: none;
    width: 100%;
    border: 1px solid #aaa;
    padding: 7px 10px;
    text-align: center;
    margin: 0 auto 25px auto;
    max-width: 200px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.5px;
}


/*.footer{
	-webkit-box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px -3px 5px 0px rgba(0,0,0,0.75);
}*/

/* ====== footer ===========*/






/* ====== mobile menu ===========*/

.header-mobile{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 99999;
    display: none;
}

.header-mobile .mobile-logo{
	background: #fff;
    border-radius: 50%;
    padding: 9px;
    border: 1px solid #ccc;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


.search-mobile{
	display: none;
    position: fixed;
    z-index: 100;
    top: -50px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}


.search-mobile .btn-search{
	width: 40px;
    display: flex;
    align-items: center;
    height: 39px;
    background: #eee;
    border: 1px solid;
    cursor: pointer;
    border: 1px solid #aaa;
}
    

.search-mobile input{
	padding: 10px;
    border: 1px solid #aaa;
    border-left: 0;
    height: 39px;

}

.search-mobile.search-show{
	display: flex;
}

.header-mobile .left,
.header-mobile .right{
transform: translate(0, 4px);
}

.header-mobile #searchMobile{
    margin-left: 15px;
    cursor: pointer;
}

.header-mobile .mobile-logo .header-logo-img{
	width: 45px;
    margin-top: 0;
}

.header-mobile .material-icons{
	color: #fff;
	display: inline-block; width: 24px;
}

.nav-top {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 101;
  padding: 10px 20px;
  width: 100%;
  height: 52px;
  background-color: #252525;
  justify-content: space-between;
  box-sizing: border-box;
}
.nav-top .hamburger {
  color: #fff;
  cursor: pointer;
  width: 24px;
}

.nav-drill {
  transform: translateX(-100%);
}

.nav-is-toggled .nav-drill {
  transform: translateX(0);
}
.nav-is-toggled::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill {
  display: flex;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition: 0.45s;
}
.nav-items {
  flex: 0 0 100%;
}
.nav-item:not(:last-child) {
  border-bottom: solid 1px #ccc;
}
.nav-link {
  display: block;
  padding: 0.875em 1em;
  background-color: #fff;
  color: #252525;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}
.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #daf9f4;
  transition: 0.3s;
  visibility: hidden;
  z-index: 999;
}

.mobile-contacts-item img{
	width: 35px;
}

.nav-slogan{
	background: #252525!important;
    color: #fff!important;
}

.mobile-contacts-li{
	padding: 25px 1em;
    display: inline-block;
}

.icon-mobile{
	font-size: 25px!important;
	margin-right: 10px!important;
}

.mobile-title{
	font-size: 16px;
}

.mobile-title.mt-big{

	margin-top: 25px!important;
}


.mobile-contacts-item{
	display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

#cartMobile{
  margin-left: 15px;
}

.mobile-recall{
	color: #ff680d;
    font-weight: bold;
}


#closeMenu{
	position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}


.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #ccc;
}
.nav-expand-content .nav-link {
  background-color: #252525;
}
.nav-expand-content .nav-back-link {
  display: flex;
  align-items: center;
  background-color: #252525 !important;
  color: #fff;
}
.nav-expand-content .nav-back-link::before {
  content: "chevron_left";
  margin-right: 0.5em;
  font-family: "Material Icons";
}
.nav-expand-link {
  display: flex;
  justify-content: space-between;
}
.nav-expand-link::after {
  content: "chevron_right";
  flex: 0 1 auto;
  font-family: "Material Icons";
}
.nav-expand.active > .nav-expand-content {
  transform: translateX(0);
  visibility: visible;
}
.nav-expand .nav-expand-content {
  background-color: #fff;
}
.nav-expand .nav-expand-content .nav-link {
  background-color: #fff;
}
.nav-expand .nav-expand-content .nav-expand-content {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
  background-color: #aff1e6;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #84e9d9;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #59e1cb;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #59e1cb;
}
/* ====== mobile menu ===========*/





/* ====== media ===========*/


@media screen and (max-width: 1200px) {
.productsSlider-i,
.recentProducts-i{
  width: 25%;
}

}



@media screen and (max-width: 991px) {


.productsSlider-image, .recentProducts-image {
    height: 240px;
    line-height: 240px;
}

  .wrapper{
    margin-top: 30px;
  }
	.search-mobile{
		display: flex;
	}
	#main{
		margin-top: 52px;
	}

	.header-mobile{
		display: block;
	}

	.header{
		display: none;
	}

	.slideCarousel-nav-btn{
		display: none!important;
	}

	.frontInfo-container {
   	 padding: 30px 0;
	}

	.catalogCard-image-bg{
		display: none!important;
		height: 0!important;
	}

  .layout-main-inner {
    padding-left: 0;
  }

  .article-text {
    max-width: 100%;
  }

  .layout-aside{
    display: none;
  }

  footer{
    display: none;
  }


  footer .footer__columns{
        flex-wrap: wrap;
  }

  footer .footer__logo-img{
    width: 120px;
  }

  footer .footer__col--logo{
    flex: auto 0 0;
    width: 100%;
    text-align: center;
  }

  footer .footer__copyright .shopName{
    font-size: 36px;
  }

  footer .footer__copyright .shopTitle{
    font-size: 16px;
  }

  footer .footer__col--clients,
   footer .footer__col--catalog,
   footer .footer__col--contacts{
    display: none;
   }


   .footer__mobile-menu{
    display: block;
    }

    .footer__container{
      padding: 0;
    }



    .catalog__middle-col--shifted-right{
          flex: auto;
    max-width: 100%;
    }

    .catalog__middle{
      flex-wrap: wrap;
    }

    .catalog-grid--sidebar .catalog-grid__item {
    width: 33%;
  }


  .catalog__middle-col--left, .catalog__controls{
    display: none;
  }


  .checkout{
    padding-top: 50px;
  }


  .checkout-wrapp{
    display: flex;
    flex-wrap: wrap;
  }

  .checkout-main{
    float: none;
    width: 100%;
    order: 2;
  }

   .checkout-aside{
    padding-left: 0;
    float: none;
    width: 100%;
    order: 1;
   }

   .product__grid{
    flex-wrap: wrap;
   }


   .product__column.product__column--left,
   .product__column.product__column--right{
    width: 100%;
    position: relative;
    padding: 0;
   }

   .tmGallery{
    top: 52px;
   }

   


}


@media screen and (max-width: 768px) {


.productsSlider-image, .recentProducts-image {
    height: 210px;
    line-height: 210px;
}


  .productsSlider-i,
.recentProducts-i{
  width: 33%;
}


  .catalog-grid--sidebar .catalog-grid__item {
    width: 49%;
  }

	.search-mobile{
		display: flex;
	}
	#main{
		margin-top: 52px;
	}

	.header-mobile{
		display: block;
	}

	.header{
		display: none;
	}

	.slideCarousel-nav-btn{
		display: none!important;
	}

	.frontInfo-container {
   	 padding: 30px 0;
	}


	.catalogCard-image-bg{
		display: none!important;
		height: 0!important;
	}

	.catalog-carousel__item{
		width: 48%;
	}


  footer .footer__columns{
        flex-wrap: wrap;
  }

  footer .footer__logo-img{
    width: 120px;
  }

  footer .footer__col--logo{
    flex: auto 0 0;
    width: 100%;
    text-align: center;
  }

  footer .footer__copyright .shopName{
    font-size: 36px;
  }

  footer .footer__copyright .shopTitle{
    font-size: 16px;
  }

  #searchCatalog .catalog-grid__item.searchItem{
    width: 32%;
  }


}



@media screen and (max-width: 600px) {

  .popup.__cart{
    max-width: 500px;
    width: 100%!important;
  }

   .popup.__cart .cart-cell.__image {
    width: 90px;
  }

  .popup.__cart .cart-title {
    padding-right: 10px;
    font-size: 10px;
  }

 .popup.__cart .cart-cost,
 .popup.__cart .cart-price{
    font-size: 10px;
 }

 .popup.__cart .cart-cell.__quantity {
    width: 50px;
  }

  .popup.__cart .cart-remove-btn .icon-cart-remove{
    left: 20px;
  }

  .popup.__cart .cart-remove-btn{
    opacity: 1;
  }

  .popup.__cart .counter--large .counter__container {
    width: 48px;
    height: 28px;
  }

  .popup.__cart .cart-cell.__cost {
    width: 70px;
  }

  .popup.__cart .cart-header{
    font-size: 9px;
  }

  .popup.__cart .counter-input{
    flex: 0 0 10px;
  }

  .popup.__cart .counter-btn .icon-minus, .popup.__cart .counter-btn .icon-plus{
    font-size: 8px;
  }

  .popup.__cart .counter-field{
    font-size: 12px;
  }

  .popup-title {
    font-size: 24px;
  }

  .popup.__cart .a-pseudo{
    display: none;
  }

}

@media screen and (max-width: 500px) {



.product-order__block--tryon{
  width: 100%;
  margin-top: 25px;
}

  .productsSlider-image, .recentProducts-image {
    height: 170px;
    line-height: 170px;
}


  .productsSlider-i,
.recentProducts-i{
  width: 50%;
}

   .gallery{
      flex-wrap: wrap;
   }

   .gallery__photos{
     max-width: 100%;
   }

   .gallery__thumbnails {
    position: relative;
    width: 100%;
   }

   .gallery__thumbnails-container{
      height: auto;
      width: 100%;
   }

   .product-header__availability {
    margin-left: 15px;
     margin-right: 15px;
   }

   .product-heading__tab{
    font-size: 12px;
   }

    .mt-35 {
        margin-top: 20px;
    }

   .gallery__thumbnails-list{
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
   }


   footer .footer__col{
    flex: auto 0 0;
    width: 100%;
   }

   footer .footer__col--logo{
    margin-bottom: 15px;
    margin-top: 0;
   }

   .contacts-address{
    padding: 0;
    margin-bottom: 0;
   }

   .contacts-aside {
    float: none;
    width: 100%;
    }

   .contacts-main{
    margin-left: 0;
    margin-top: 25px;
   }

   .footer__container{
    padding-bottom: 0;
   }

   footer .footer__col .footer__menu-item {
      float: left;
      margin: 0 15px 15px 0;
   }

    .login-tabs-content{
      padding: 15px 5px 20px;
    }
    
    .popup .form-head {
      text-align: left;
      width: 100%;
    }

    .popup .form-item {
      margin-left: 0;
      margin-bottom: 0;

    }

    .popup-block{
      padding: 15px;
    }


    .form-item {
      max-width: 100%;
      margin: 0;
    }

    .checkout-footer .btn {
        margin-left: 0;
        width: 100%;
    }

    .checkout-step {
       padding: 20px 10px;
    }

    .order-i{
       padding: 15px 10px 14px 10px;
    }

    .checkout-aside .counter-input{
      flex: 0 0 10px;
    }

    .product-header__row{
      flex-wrap: wrap;
    }

    .product-header__block{
      width: 100%;
    }

    .product-header__row--top{
      margin-bottom: 25px;
    }

    .product__top {
        margin-bottom: 0;
    }

    .product__section--header {
        margin-bottom: 0;
    }

    .gallery__photos:not(:only-child) {
        max-width: 100%;
        margin-left: 0;
    }


  #searchCatalog .catalog-grid__item.searchItem{
    width: 49%;
  }

  	
}








/* ====== media ===========*/